.navbar {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;

  .option {
    padding: 15px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .option {
      padding: 15px;

      &:hover {
        color: #fc6551;
      }
    }
  }
}
